:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --gray: #a7a7a7;
  --gray-soft: #cccccc;
  --gray-mute: #bbbbbb;

  --blue: #87ceeb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}
html {
  min-height: 100%;
}
body {
  position: relative;
  overflow-x: hidden;
  background-color: var(--black);
  color: var(--gray);
  line-height: 1.6;
  font-family: monospace;
  font-size: 12px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--white);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.light {
  background-color: var(--gray);
  color: var(--black);
}

.dark {
  background-color: var(--black);
  color: var(--gray);
}

.bookmark {
  background-color: var(--blue);
  color: var(--black);
  display: inline;
}

.settings {
  align-self: flex-end;
  margin-left: auto;
}

#viewer {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  border: 1px solid var(--gray-soft);
  font-family: inherit;
  overflow: hidden;
}

#file-input {
  cursor: pointer;
}

#textTitle {
  display: inline;
  font-weight: 700;
  font-size: 12px;
  line-height: initial;
  color: var(--black);
  text-transform: uppercase;
}

#theme option {
  text-align: center;
}
#theme option:last-child {
  font-size: 18px;
}

.image {
  max-width: 300px;
  width: 100%;
  padding: 10px;
  margin: 10px;
  background-color: var(--white);
}

.loader {
  background-color: var(--white);
  color: var(--black);
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
